<ion-header>
  <ion-toolbar>
    <ion-title>Escaner</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
    

  <ion-slides [options]="swiperOpts">
      <ion-slide>
          
          <ion-button expand="full"
                      fill="outline"
                      size="large"
                      shape="round"
                      (click)="scan()"
                     >
              Escanear
          </ion-button>


      </ion-slide>
  </ion-slides>


  <div *ngIf="infoescaneo">
  <ion-card>
    <ion-card-header>
      <ion-card-subtitle align="center">El producto escaneado es:</ion-card-subtitle>
      <ion-card-title align="center">{{this.nombre}}</ion-card-title>
    </ion-card-header>
  
    <ion-card-content>
   <!--   Hay {{this.cantidad}} unidades en stock -->
    </ion-card-content>
  </ion-card>
</div>
<ion-slides [options]="swiperOpts">
  <ion-slide>
      
      <ion-button expand="full"
                  fill="outline"
                  size="large"
                  shape="round"
                  (click)="buscarProd()"
                
                  
                     > 
         Ver Producto
      </ion-button>


  </ion-slide>
</ion-slides>
</ion-content>
