<ion-app>
  <ion-router-outlet></ion-router-outlet>
</ion-app>

<ion-tabs>
  <ion-tab-bar slot="bottom">
    <ion-tab-button routerLinkActive="tab-selected" routerLink="/home" class="ios" tab="home">
      <ion-icon name="cart-outline"></ion-icon>
      <ion-label>Productos</ion-label>
    </ion-tab-button>

    <ion-tab-button routerLinkActive="tab-selected" routerLink="/add-product" class="ios" tab="add-product">
      <ion-icon name="add-circle"></ion-icon>
      <ion-label>Nuevo Producto</ion-label>
    </ion-tab-button>
  
  <ion-tab-button routerLinkActive="tab-selected" routerLink="/scanner" class="ios" tab="scanner">
    <ion-icon name="qr-code-outline"></ion-icon>
    <ion-label>Escanear</ion-label>
  </ion-tab-button>
</ion-tab-bar>

</ion-tabs>