ion-title {
    color: #1E88E5;
    font-size: 35px;
  }

  ion-img {
    height: 250px;
  }

  ion-label{
    font-size: 25px !important;
}

ion-input{
  font-size: 40px !important;
}

ion-textarea{
  font-size: 40px !important;
}