<ion-header>
  <ion-toolbar>
    <ion-title>Stock</ion-title>
  </ion-toolbar>
  </ion-header>
 <!-- <ion-searchbar placeholder="Buscar producto"></ion-searchbar>-->
  <ion-content>
    <ion-searchbar 
    placeholder="Buscar producto"
    animated
    (ionChange)="buscar( $event )">
</ion-searchbar>
     <ion-list>
        <ion-item-sliding *ngFor="let producto of Productos | filtro:textoBuscar: 'nombre'" >
         
          <ion-item>
            <ion-col size="2"> 
              <ion-img src="{{producto.foto}}"> </ion-img></ion-col>
            <ion-col>
              <ion-row>{{producto.nombre}}</ion-row>
              <ion-row> Cantidad: {{producto.cantidad}}</ion-row>
            </ion-col>
          
                      
          </ion-item>
    
          <ion-item-options>
            <ion-button clear [routerLink]="['/edit-appointment/', producto.$key]" routerDirection="forward">
              <ion-icon name="create"></ion-icon>
            </ion-button>
           <ion-button clear (click)="deleteProducto(producto.$key)">
              <ion-icon name="trash"></ion-icon>
            </ion-button>
          </ion-item-options>
        </ion-item-sliding>    
    </ion-list>
  
   
   <!-- <ion-list class="ios list-ios hydrated">
     
      <ion-list-header class="ios hydrated">
       <h1>Productos</h1>
      </ion-list-header>
  
      <ion-item *ngFor="let producto of Productos" class="user-list">
        <ion-label>
          <h2>
             {{producto.tipo}} de {{producto.sabor}}
          </h2>
          <p>
           Cantidad: {{producto.cantidad}} unidades
          </p>
        </ion-label>
  
        <div class="item-note" item-end>
          <button ion-button clear [routerLink]="['/edit-appointment/', producto.$key]">
            <ion-icon name="create" style="zoom:2.0"></ion-icon>
          </button>
          <button ion-button clear (click)="deleteProducto(producto.$key)">
            <ion-icon name="trash" style="zoom:2.0"></ion-icon>
          </button>
        </div>
      </ion-item>
   
    </ion-list>-->
  </ion-content>