<ion-header>
  <ion-toolbar>
    <ion-title>Stock</ion-title>
  </ion-toolbar>
  </ion-header>
  <ion-content>
    <ion-searchbar 
    placeholder="Buscar producto"
    animated
    (ionChange)="buscar( $event )">
</ion-searchbar>
     <ion-list>
        <ion-item-sliding *ngFor="let producto of Productos | filtro:textoBuscar: 'nombre'" >
         
          <ion-item>
            <ion-col size="2"> 
              <ion-img src="{{producto.foto}}"> </ion-img></ion-col>
            <ion-col>
              <ion-row>{{producto.nombre}}</ion-row>
              <ion-row> Cantidad: {{producto.cantidad}}</ion-row>
            </ion-col>
          
                      
          </ion-item>
    
          <ion-item-options>
            <ion-button clear [routerLink]="['/edit-product/', producto.$key]" routerDirection="forward">
              <ion-icon name="create"></ion-icon>
            </ion-button>
           <ion-button clear (click)="deleteProducto(producto.$key)">
              <ion-icon name="trash"></ion-icon>
            </ion-button>
          </ion-item-options>
        </ion-item-sliding>    
    </ion-list>
     
  </ion-content>